.card-product {
    align-items: center;
    width: 83%;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: none;
}

.image-product{
    width: 225px;
}

.classification-container{
    margin: 5px;
}

.contenainer-info{
    text-align: center;
}

span {
    color: #EB8213;
}