#root {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.App {
  width: 400px;
  overflow-y: auto;
}

.product-container {
  display: flex;
  flex-direction: column;
}

.classifications {
  display: flex;
  justify-content: center;
  margin: 20px;
}

h1 {
  margin-top: 20px;
  text-align: center;
  font-weight: 800;
  color: #EB3713;
}

.sub-tittle{
  text-align: center;
  font-size: 16px;
  margin: 0px;
  font-weight: 300;
  color: #EB8213;
}